$yale-blue : #1D4E89;
$pacific-blue: #00B2CA;
$violet-blue: #314CB6;
$honeydew: #D0E1D4;
$granite-gray:#605F5E;
$platinum: #E2E2E2;
$orange: #F79824;
$cerulean: #6096BA;
$dark-cerulean: #75A3C2;
$erie-black:#020202;